@require './vuepress/styles/config'

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf") format("truetype"); }

/* fix anchor link positioning  for fixed navbar */
// FIXME this is not enough as it works only for section headers
$anchorHeight = ($navbarHeight + 0.5rem)
.content .section
  margin-top -($anchorHeight)
  padding-top $anchorHeight
  margin-bottom 0
  &:hover
    .headerlink
        opacity: 1

.content
   // FIXME: sphinx should provide a citation-reference?
  // .footnote-reference, .label, dt, p
    // margin-top -($navbarHeight)
    // padding-top $navbarHeight
  & a:focus
    // remove outline because padding mess it up
    outline none


/* Use # as symbol for anchor headerlinks */
h1, h2, h3, h4, h5, h6, .caption
  &:hover a.headerlink
    &::after
      visibility visible
      content "#"

a.headerlink
  font-size 0.85em
  visibility hidden
  &:hover
    text-decoration none

ul.page-nav
  list-style none
  & li
    display inline-block

.body-header
  display flex
  & ul.page-nav
    flex-grow 1
    list-style none
    list-style-position inside
    text-align right
    margin-right 30px
    & li + li
      float initial

      :before
        content "|"
        padding 0 1em

ul.breadcrumbs
  list-style none
  & li
    display inline-block



/** index page **/
.toctree-wrapper .caption
  // same as h2
  font-weight 600
  line-height 1.25
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor



/** footer **/
.footer
  clear both
  min-height 2rem
  padding-top 1rem
  overflow auto
  color grey
  font-size small
  line-height 1.5rem


/** pygments style **/
.content .highlight
  border-radius 6px

// force background color from pygments
.content .highlight pre
  background-color inherit

.content .highlighted
  background-color #fbe54e
  font-weight bold
  padding 0 4px

/*** admonitions based on custom-blocks.styl */
.admonition
  padding .1rem 0.5rem
  border-left-width .4rem
  border-left-style solid
  border-radius 3px
  margin 0.5rem 0
  // default color
  background-color #e2e2e2
  border-color #787878

  &.tip, &.hint
    border-color #a99992
    background-color #fdf4f0
    color #a99992
    .admonition-title:before {
        content: "\f0eb";
    }
  &.important, &.note
    border-color #569ABD
    background-color #eaf8ff
    color #569ABD
    .admonition-title:before {
        content: "\f05a";
    }
  &.warning, &.caution
    border-color #e7c000
    background-color #fffae2
    color #e7c000
    .admonition-title:before {
        content: "\f071";
    }
  &.danger, &.error
    border-color #ca415c
    background-color #e2c9ce
    color #964a59
    .admonition-title:before {
        content "\f1e2"

    }
  .admonition-title
    font-weight 600
    margin-top 0
    margin-bottom 0.3rem

  .admonition-title:before
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;

.solution
  border 1px solid #CCC

  .admonition-title
    position relative
    cursor pointer

    ~*
      display none

  .admonition-title:after
    position absolute
    right 0px
    content  "⯈"
    color #888

.solution.open
 .admonition-title
    ~*
      display inherit

  .admonition-title:after
    position absolute
    right 0px
    content  "⯈"
    color #888

  .admonition-title:after
    position absolute
    right 0px
    content  "⯆"
    color #888

blockquote
  margin-left -0.4rem

